<footer class="pageFooter">
  {% if alternative %}
    <img src="img/logo.svg" width="73" height="88" alt="Логотип РодеоСтар" class="logo">
  {% else %}
    <a href="./"><img src="img/logo.svg" width="73" height="88" alt="Логотип РодеоСтар" class="logo"></a>
  {% end %}
  <a href="tel:+79997142427" class="mainNav__link mainNav__link--phone pageFooter__phone">+7 999 714 24 27</a>
  <div class="button button--common button--ghost button--callMe">Обратный звонок</div>
  <div class="button button--action pageFooter__last button--getPrice">Получить прайс</div>
</footer>