<form class="form form--fixed form--price" action="./submit" method="post">
  <fieldset class="form__fieldset">
    <label class="form__label">
      <span class="text text--light-grey text--sm">Ваше имя</span>
      <input type="text" class="form__input" id="" name="form_name" placeholder="Иван Иванов" required>
    </label>
    <label class="form__label">
      <span class="text text--light-grey text--sm">Телефон</span>
      <input type="tel" class="form__input form__input--tel" id="" name="form_phone" placeholder="+7(999)123-1415" required>
    </label>
    <label class="form__label">
      <span class="text text--light-grey text--sm">E-mail</span>
      <input type="email" class="form__input" id="" name="form_email" placeholder="ivan.ivanov@mail.ru" required>
    </label>
    <input type="hidden" id="" name="form_price" value="price">
    {% module xsrf_form_html() %}
    <button class="button button--action button--center button--submit" type="submit">Получить прайс</button>
  </fieldset>
</form>