<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Rodeo Star - Главная</title>
</head>
<body>
  <header class="pageHeader">
    <nav class="mainNav">
      <ul class="mainNav__list">
        <li class="mainNav__item mainNav__item--logo">
          <img src="img/logo.png" width="73" height="88" alt="" class="logo">
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="#TODO" class="mainNav__link">Как мы работаем</a>
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="#TODO" class="mainNav__link">Преимущества</a>
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="#TODO" class="mainNav__link">Контакты</a>
        </li>
        <li class="mainNav__item mainNav__item--wide">
          <a href="tel:88007654321" class="mainNav__link mainNav__link--phone">8 800 765 43 21</a>
        </li>
        <li class="mainNav__item mainNav__item--wide mainNav__item--mobile mainNav__item--marginTop-mobile mainNav__item--noBorderBottom">
          <a href="#TODO" class="button button--ghost">Обратный звонок</a>
        </li>
        <li class="mainNav__item mainNav__item--burger">
          <div class="mainNav__burger">

          </div>
        </li>
      </ul>
    </nav>
  </header>
  <main class="pageMain">
    <section class="promo">
      <article class="promo__article">
        <h2 class="heading heading--h1 heading--action heading--light promo__content">
          Зарабатывайте
          <br>
          <span class="heading--common heading--uppercase">вместе с нами</span>
        </h2>
        <p class="text text--common text--paddingBottom promo__content">
          Станьте официальным поставщиком популярных халяльных энергетиков <span class="text--action">Rodeo Star</span> и <span class="text--action">Black Lion</span> в свой регион&nbsp;и&nbsp;получайте до 100% маржи&nbsp;с&nbsp;каждой банки.
        </p>
        <button class="button button--action">Получить прайс</button>
      </article>
      <div class="promo__bg"></div>
    </section>
  </main>
  <footer class="pageFooter">
    Футер!
  </footer>
  <script src="js/mainNav/mainNav.js"></script>
  
</body>
</html>