<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Rodeo Star - Данные отправлены</title>
</head>
<body>
  <header class="pageHeader">
    <nav class="mainNav">
      <ul class="mainNav__list">
        <li class="mainNav__item mainNav__item--logo">
          <a href="/main-landing.html"><img src="img/logo.png" width="73" height="88" alt="Логотип РодеоСтар" class="logo"></a>
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="#TODO" class="mainNav__link">Как мы работаем</a>
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="#TODO" class="mainNav__link">Преимущества</a>
        </li>
        <li class="mainNav__item mainNav__item--mobile">
          <a href="/contacts.html" class="mainNav__link">Контакты</a>
        </li>
        <li class="mainNav__item mainNav__item--wide">
          <a href="tel:88007654321" class="mainNav__link mainNav__link--phone">8 800 765 43 21</a>
        </li>
        <li class="mainNav__item mainNav__item--wide mainNav__item--mobile mainNav__item--marginTop-mobile mainNav__item--noBorderBottom">
          <a href="#TODO" class="button button--ghost">Обратный звонок</a>
        </li>
        <li class="mainNav__item mainNav__item--burger">
          <div class="mainNav__burger">

          </div>
        </li>
      </ul>
    </nav>
  </header>
  <main class="pageMain">
    <section class="content">
      <article class="content__article">
        <h2 class="heading heading--h2 heading--action heading--light heading--center heading--marginTop-big heading--narrow">Письмо успешно отправлено</h2>
        <div class="hr"></div>
        <p class="text text--common text--center">
          Проверьте свой почтовый ящик, пожалуйста, ссылка на прайс-лист отправлена на указанный вами электонный адрес.
        </p>
        <p class="text text--common text--center">
          <br>
          <a class="text text--common" href="/main-landing.html">Вернуться на главную страницу сайта</a>
        </p>
      </article>
    </section>

  </main>
  <footer class="pageFooter">
    <a href="/main-landing.html"><img src="img/logo.png" width="73" height="88" alt="Логотип РодеоСтар" class="logo"></a>
    <a href="tel:88007654321" class="mainNav__link mainNav__link--phone pageFooter__phone">8 800 765 43 21</a>
    <div class="button button--common button--ghost">Обратный звонок</div>
    <div class="button button--action pageFooter__last">Получить прайс</div>
  </footer>
  <script src="js/mainNav/mainNav.js"></script>
  
</body>
</html>