<!DOCTYPE html>
<html lang="ru">
<head>
  
  {% include common-head.html %}

  <title>Rodeo Star - Данные отправлены</title>
</head>
<body>

  {% include header.html %}

  <main class="pageMain">
    <section class="content">
      <article class="content__article">
        <h2 class="heading heading--h2 heading--action heading--light heading--center heading--marginTop-big heading--narrow">Ожидайте звонка вашего персонального менеджера</h2>
        <div class="hr"></div>
        <p class="text text--common text--center">
          Менеджер свяжется с вами в ближайшее возможное время.
        </p>
        <p class="text text--common text--center">
          <br>
          <a class="text text--common" href="./">Вернуться на главную страницу сайта</a>
        </p>
      </article>
    </section>

  </main>

  {% include form-callme.html %}

  <script src="js/mainNav/mainNav.js"></script>
  <script src="js/form/form.js"></script>
  
</body>
</html>